<div ng-controller="AuthenticationController">
  <section class="login-section">
      <div class="container">
        <div class="row">
          <div class="log-wrap">
            <div class="login-selection-wrap">
            <h1>Login</h1>
              <p>använder BankID för en säker och trygg identifiering.</p> <br/>
              <button ng-click='goBankID()' class="login-links">Mobile Bank ID</button><br/>
              <a ng-click="" class="login-links">Bank ID</a>
              </div>        
          </div>
        </div> 
      </div>           
  </section>
</div>