<section>
  <div class="page-header">
    <h1>Hcpspecialities</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="hcpspeciality in vm.hcpspecialities"
       data-ui-sref="hcpspecialities.view({ hcpspecialityId: hcpspeciality._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="hcpspeciality.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="hcpspeciality.user" data-ng-bind="hcpspeciality.user.displayName"></span>
        <span data-ng-if="!hcpspeciality.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="hcpspeciality.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.hcpspecialities.$resolved && !vm.hcpspecialities.length">
    No Hcpspecialities yet, why don't you <a data-ui-sref="hcpspecialities.create">create one</a>?
  </div>
</section>
