<div ng-controller="HeaderController" ng-show="showContent">
    <div class="container mobile-top-bg">
        <div class="mobile-top-row row visible-xs">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
                <div class="nav-brand">
                    <img src="modules/core/client/img/medicheck-logo.png" alt="Medicheck" />
                </div>
            </div>
            <div class="col-xs-2">
                <span>+</span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="mobile-menu-row row visible-xs">
            <div class="col-xs-12">
                <ul>
                    <li><a href="#"><i class="fa dasboard-icon"></i></a></li>
                    <li><a href="#"><i class="fa schedule-icon"></i></a></li>
                    <li><a href="#"><i class="fa patients-icon"></i></a></li>
                    <li><a href="#"><i class="fa consultation-icon"></i></a></li>
                    <li><a href="#"><i class="fa statistics-icon"></i></a></li>
                    <li><a href="#"><i class="fa business-icon"></i></a></li>
                    <li><a href="#"><i class="fa support-icon"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!---Mobile Top Header------>
    <!---Desktop Top Header------>
    <div class="container-fluid top-bg">
        <div class="row hidden-xs">
            <div class="col-lg-6">
                <div class="nav-brand">
                    <img src="modules/core/client/img/medicheck-logo.png" alt="Medicheck" />
                </div>

            </div>
            <div class="col-lg-6 top-right-col">
                <span><img src="modules/core/client/svg/alert.svg" width="20"/><span2>3</span2></span>
                <span>Dr. Alan</span>
                <span><a ui-sref="patient-info.health-profile" target="_self" style="cursor:pointer"><img src="modules/core/client/img/top-profile-pic.png" /></a><span3>&nbsp;</span3></span>
            </div>
        </div>
        <!---Mobile Top Header------>
    </div>
</div>