<div class="pushMenu" ng-if="showContent">
    <menu-button></menu-button>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left menu-open">
        <ul class="pushnav">
            <li class="active">
                <a href="/">
                    <i class="fa dasboard-icon"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/calendar">
                    <i class="fa schedule-icon"></i>
                    <span>My Schedule</span>
                </a>
            </li>
            <li>
                <a href="#.">
                    <i class="fa patients-icon"></i>
                    <span>My Patients</span>
                </a>
            </li>
            <li>
                <a href="#.">
                    <i class="fa consultation-icon"></i>
                    <span>Consultation</span>
                </a>
            </li>
            <li>
                <a href="#.">
                    <i class="fa statistics-icon"></i>
                    <span>Statistics</span>
                </a>
            </li>
            <li>
                <a href="#.">
                    <i class="fa business-icon"></i>
                    <span>Business Admin</span>
                </a>
            </li>
            <li>
                <a href="#.">
                    <i class="fa support-icon"></i>
                    <span>Support</span>
                </a>
            </li>
        </ul>
    </nav>
</div>