<div class="border">
	<div class="inner-content">
       <div class="row title-row">
         <div class="col-sm-12 title-left-col">
           <h1>See a Doctor</h1>
         </div>               
       </div>
    <div class="clearfix"></div> 
     <!---------doctor filter bar-------------->
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline filter-doc-form" role="form">
           <div class="form-group">
              <select class="form-control">
                <option>Speciality</option>
                <option>Heart</option>
                <option>ENT</option>
              </select>
           </div>
           <div class="form-group">
             <select class="form-control">
               <option>Gender</option>
               <option>Male</option>
               <option>Female</option>
              </select>
           </div>
           <div class="form-group">
             <select class="form-control">
               <option>English</option>
               <option>Swedish</option>
             </select>
           </div>
           <div class="form-group">
             <select class="form-control">
               <option>Sort By</option>
               <option>Yes</option>
               <option>No</option>
             </select>
           </div>
           <div class="form-group" style="width:33%;">
             <input type="text" class="form-control" id="" placeholder="Search">
           </div>            
           <button type="submit" class="btn-filter-doc"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
   <!---------doctor filter bar-------------->
   
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="filter-result-wrap">
                	<div class="filter-result-detail clearfix">
                        <div class="filter-doc-pic">
                        	<img src="modules/core/client/img/pic-1.png"/>
                        </div>
                        <div class="filter-doc-detail">
                        	<p>Abrahim Sling<br/><span>ENT Specialist</span></p>
                        	<img src="modules/core/client/img/rating-stars.jpg"/>
                        </div>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <a href="" class="filter-more"><strong>More...</strong></a>
                    <div class="clearfix"></div>
                    <div class="btn-choose-wrap">
                    
                     <a class="filter-doc-choose-btn">Choose</a>
                    </div>
                </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="filter-result-wrap">
                	<div class="filter-result-detail clearfix">
                        <div class="filter-doc-pic">
                        	<img src="modules/core/client/img/pic-1.png"/>
                        </div>
                        <div class="filter-doc-detail">
                        	<p>Abrahim Sling<br/><span>ENT Specialist</span></p>
                        	<img src="modules/core/client/img/rating-stars.jpg"/>
                        </div>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <a href="" class="filter-more"><strong>More...</strong></a>
                    <div class="clearfix"></div>
                    <div class="btn-choose-wrap">
                    
                     <a class="filter-doc-choose-btn">Choose</a>
                    </div>
                </div>
         </div>
         
         <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="filter-result-wrap">
                	<div class="filter-result-detail clearfix">
                        <div class="filter-doc-pic">
                        	<img src="modules/core/client/img/pic-1.png"/>
                        </div>
                        <div class="filter-doc-detail">
                        	<p>Abrahim Sling<br/><span>ENT Specialist</span></p>
                        	<img src="modules/core/client/img/rating-stars.jpg"/>
                        </div>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <a href="" class="filter-more"><strong>More...</strong></a>
                    <div class="clearfix"></div>
                    <div class="btn-choose-wrap">
                    
                     <a class="filter-doc-choose-btn">Choose</a>
                    </div>
                </div>
         </div>
         
         <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="filter-result-wrap">
                	<div class="filter-result-detail clearfix">
                        <div class="filter-doc-pic">
                        	<img src="modules/core/client/img/pic-1.png"/>
                        </div>
                        <div class="filter-doc-detail">
                        	<p>Abrahim Sling<br/><span>ENT Specialist</span></p>
                        	<img src="modules/core/client/img/rating-stars.jpg"/>
                        </div>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <div class="filter-result-detail clearfix">
                        <p><strong>Availability</strong><br/><date>Wed 17 March 2016</date><br/><time>13:00 to 16:00</time></p>
                	</div>
                    <a href="" class="filter-more"><strong>More...</strong></a>
                    <div class="clearfix"></div>
                    <div class="btn-choose-wrap">
                    
                     <a class="filter-doc-choose-btn">Choose</a>
                    </div>
                </div>
         </div>
        
      </div>
    </div>
   
     </div>
   </div>  
</div> 