<div class="border">
  <div class="inner-content">
    <div class="row title-row">
      <div class="col-sm-12 title-left-col">
        <h1>See a Doctor</h1>
      </div>  
    </div>
    <div class="spacer40vh"></div>
    <div class="row pie-timer-row">
      <div class="col-sm-12">
        <a href="#" class="drop-in-btn">Drop in Consultation</a>
        <a href="#" class="book-app-btn">Book an Appointment</a>
      </div>    
      <div class="col-sm-12">
        <div class="pie-timer">
            <p><img src="modules/core/client/img/pie-timer.png"/>
            Waiting Time:<span>05</span> Min</p>
        </div>
      </div>
      <div class="spacer40vh"></div>
      <div class="col-sm-12">
        <div class="emergency-call-txt">
            <p><strong>Always call 112</strong> or visit a Emergency hospital<br/> in case of an emergency.</p>
        </div>
      </div>    {{category}}   
    </div>        
  </div> 
</div>