<div class="border">
  <div class="inner-content">
     <div class="row title-row">
       <div class="col-sm-12 title-left-col">
	     <h1>See A Doctor</h1></span>
       </div>
      </div>
      <div class="clearfix"></div>
      <div class="see-doc-wrap">
        <div class="row">
          <div class="col-lg-12">
            <p>Choose the most describing category for your medical issues:</p>
          </div>
        <div class="col-lg-4">
          <ul>
            <li><a ui-sref="appointment-booking.step2({category: 'Respiratory' })">Respiratory</a></li>
            <li><a href="">Asthma</a></li>
            <li><a href="">Allergies</a></li>
            <li><a href="">KOL</a></li>
            <li><a href="">Another Illness</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul>
            <li><a href="">Heart Conditions</a></li>
            <li><a href="">Atrial Fibrillation</a></li>
            <li><a href="">Myocardial Infarction</a></li>
            <li><a href="">Cardiac Valve Disorders</a></li>
            <li><a href="">Heart Muscel Inflammation (Myocarditis)</a></li>
            <li><a href="">Cardiac Arrest - So you can help</a></li>
            <li><a href="">Heart Failure</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul>
            <li><a href="">Skin Related Diseases</a></li>
            <li><a href="">Stretch Marks (Striae Distensea)</a></li>
            <li><a href="">Microscopy & Culture</a></li>
            <li><a href="">Cradle Cap (Seborrhic Dermatitis)</a></li>
            <li><a href="">Mollusks</a></li>
            <li><a href="">Nail Fungus</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-4">
          <ul>
            <li><a href="">Heart Conditions</a></li>
            <li><a href="">Atrial Fibrillation</a></li>
            <li><a href="">Myocardial Infarction</a></li>
            <li><a href="">Cardiac Valve Disorders</a></li>
            <li><a href="">Heart Muscel Inflammation (Myocarditis)</a></li>
            <li><a href="">Cardiac Arrest - So you can help</a></li>
            <li><a href="">Heart Failure</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul>
            <li><a href="">Respiratory</a></li>
            <li><a href="">Asthma</a></li>
            <li><a href="">Allergies</a></li>
            <li><a href="">KOL</a></li>
            <li><a href="">Another Illness</a></li>
          </ul>
        </div>        
        <div class="col-lg-4">
          <ul>
            <li><a href="">Skin Related Diseases</a></li>
            <li><a href="">Stretch Marks (Striae Distensea)</a></li>
            <li><a href="">Microscopy & Culture</a></li>
            <li><a href="">Cradle Cap (Seborrhic Dermatitis)</a></li>
            <li><a href="">Mollusks</a></li>
            <li><a href="">Nail Fungus</a></li>
          </ul>
        </div>
      </div>
    </div>        
  </div>
</div>  